.game {
    display: flex;
    flex-direction: row;
    margin: 2rem;
}

ol, ul {
    padding-left: 30px;
}

.status {
    font-size: 24px;
}

.game-info {
    margin-left: 20px;
}

.move-desc {
    margin-top: 0.5rem;
}

.move-button, .toggle-button {
    width: 10rem;
}

.player-1 {
    color: rgb(73, 73, 255);
}

.player-2 {
    color: rgb(146, 52, 228);
}