.game {
    display: flex;
    flex-direction: row;
    margin: 2rem;
}

ol, ul {
    padding-left: 30px;
}

.status {
    margin-bottom: 10px;
}

.game-info {
    margin-left: 20px;
}

.move-desc {
    margin-top: 0.5rem;
}

.move-button {
    cursor: pointer;
}

.toggle-button {
    cursor: pointer;
}