.status {
    font-size: 40px;
    font-weight: bold;
    height: 3rem;
}

.game-board {
    margin-top: 1rem;
}

.move-desc {
    margin-top: 0.5rem;
}

.toggle-button {
    margin-top: 4rem;
}

button {
    width: 10rem;
}

.player-1 {
    color: rgb(73, 73, 255);
}

.player-2 {
    color: rgb(255, 79, 59);
}