.square {
    background: #fff;
    border-top: 3px solid black;
    border-right: 3px solid black;
    font-size: 64px;
    font-weight: bold;;
    height: 8rem;
    line-height: 8rem;
    min-width: 8rem;
    cursor: pointer;
}

.left-square {
    border-left: 3px solid black;
}

.bottom-square {
    border-bottom: 3px solid black;
}
  
.square:hover {
    background: rgba(225, 225, 225, 0.749);
}

.winning-square, .winning-square:hover {
    background: rgb(6, 255, 247);
}

.tie-game, .tie-game:hover {
    background: rgb(249, 20, 20);
}