.square {
    background: #fff;
    border: 3px solid black;
    float: left;
    font-size: 48px;
    font-weight: bold;
    line-height: 8rem;
    height: 8rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 8rem;
    cursor: pointer;
}
  
.square:focus {
    outline: none;
}

.square:hover {
    background: rgba(225, 225, 225, 0.749);
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.winning-square, .winning-square:hover {
    background: rgb(6, 255, 247);
}

.tie-game, .tie-game:hover {
    background: rgb(249, 20, 20);
}